
<!-- main content -->
<div>
  <ul style="list-style-type: none;">
    {{#each review}}
    <li id="task_{{this._id}}" class="toPost">
      <div class="h_content" id="h_content" >
        <!-- 1st -->
        <div class="card">
          <div class="card-image indexPost" id="task_{{this._id}}">
            <figure class="h_image">
              <img src="/uploadTrip/view/{{this.reviewInfo.pic.[0]}}" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content" id="h_cardc">
            <div class="media">
              <div class="media-left" id="h_pic">
                <figure class="image is-48x48">
                  <img src={{this.user.picture}} alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content" id="h_media">
                <p class="title is-4 indexPost" id="task_{{this._id}}"><a><u>{{this.reviewInfo.title}}</u></a></p>
                <p class="subtitle is-6"><span>Trip Location:</span>{{this.reviewInfo.locationCountry}}</p>
              </div>
            </div>
            <div id="h_des">
              <p class="index-article">{{this.reviewInfo.text}}</p>
            </div>
            <p class="cost" style="margin-bottom: 3px"><span>Cost:</span>{{this.reviewInfo.cost}}</p>
            {{#each this.reviewInfo.label}}
            <span class="tag" style="color: SteelBlue">#{{this}}</span>

            {{/each}}
            <div style="margin-top: 1px">
              <div style="float: left">
                <span>Start date:</span>
                <time style="margin-right: 15px">{{this.reviewInfo.starttime}}</time>
                <span>End date:</span>
                <time>{{this.reviewInfo.endtime}}</time>
              </div>
              <div class="h_info">
                <span class="icon"><i class="fa fa-eye"></i></span><span>{{this.reviewInfo.count}}</span>
                <span class="icon"><i class="fa fa-ban"></i></span><span><a class="deleteBtn" id="dele_{{this._id}}">Delete</a></span>
                <span class="icon"><i class="fa fa-pencil-square-o"></i></span><span><a class="editBtn" id="edit_{{this._id}}">Edit</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
</div>
